@inherits TransitionableLayoutComponent

<div class="transition @transitioningClass @(Transition.IntoView ? "transitioned" : "transitioned_behind") full">
    @Body
</div>

<style>
    .transition {
        background-color: #1D2033;
        position:absolute;
        min-height: 100%;
        left: 0;
        right: 0;

        
    }

    .transitioned {
        z-index: 1;


        left: 0;
        right: 0;

    }

    .transitioned_behind {

        left: 0;
        right: 0;

        z-index: 0;
    }
    .full
    {
       
    }
</style>

@code {
    private string transitioningClass => Transition.FirstRender
        ? "" : $"animate__{transitioningEffect()} animate__faster animate__animated";

    private int opacity => Transition.IntoView ? 1 : 0;

    private string transitioningEffect()
    {

        var effect = Transition.IntoView ? "fadeIn" : "fadeOut";
        var direction = Transition.Backwards ? "Up" : "Down";
        var anim = Transition.IntoView ? "" : "";
        return effect + direction+anim;

    }
} 