@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar" style="background-image: none;background-color: #181B2A;">
		<NavMenu />
	</div>

	<main style="background-color: #1D2033;">
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-8">
			@Body
		</article>
	</main>
</div>
