@using GameLauncher_MAUI_CSharp.Pages
@inherits LayoutComponentBase

<div class="page" style="overflow-y: hidden;">
	<div class="sidebar" style="background-image: none;background-color: #181B2A;">
		<NavMenu />
	</div>
	<main style="background-color: #1D2033;overflow-y: scroll;">


		<article class="content px-8">
			@Body
		</article>
	</main>
</div>
