@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.nav-button-style {
    border-radius: 0px;
    border-left: 0.3rem solid #00000000;
    padding-left:8px;

}
.nav-button-style.active {
    border-radius: 0px;
    border-left: 0.3rem solid;
}
.nav-button-style:hover {
    border-radius: 0px;
    border-left: 0.3rem solid #a4a4a4c4;
}
.nav-button-style2 {
    border-radius: 0px;
    border-top: 1.5px solid #ffffff7a;
    display: flex;
    justify-content: center;
}

.nav-button-style2.active {
    border-radius: 0px;

}

.nav-button-style2:hover {
    border-radius: 0px;
    background-color:#ffffff25;
}
.nav-bar-item {
    padding-bottom: unset;
    padding-right: unset;
    padding-left: unset;
}
    .nav-bar-item.nav-item {
        padding-bottom: unset;
        padding-right: unset;
        padding-left: unset;
    }