@page "/Browse"
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@inject HttpClient Http
@using GameLauncher_MAUI_CSharp.Pages.Elements;

<h1>Browse</h1>
<ul class="flex-container">
        @if (filesInReliase !=null)
    {
       foreach (var project in filesInReliase)
       {
           var file = project.FirstOrDefault();
      
           if (file.URL_PNG_3_2 != null)
               {
                   <E_GameCard url=@file.URL_PNG_3_2 NameGame="@file.name"></E_GameCard>
           }
       }
    }
</ul>

@code {


    private List<string> imageSource=new();
    private List<List<FilesInReliase>> filesInReliase;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            filesInReliase = TorrentDownloader.GetInfoReliases();
            StateHasChanged();
        }
    }
}
