<div style="font-family: 'Inter-Light';">
    <div class="collapse" style="display: block;">
    <nav class="flex-column">
        <div class="nav-item nav-bar-item">
            <NavLink class="nav-link nav-button-style" href="" Match="NavLinkMatch.All" style="border-radius: 0px;">

                <img src="Resources\AppIcon\homeicon.svg" style="padding-right:0.75rem;" />
                Home
            </NavLink>
        </div>
        <div class="nav-item nav-bar-item">
            <NavLink class="nav-link nav-button-style" href="Browse" style="border-radius: 0px;">
                <img src="Resources\AppIcon\browseicon.svg" style="padding-right:0.75rem;" />
                Browse
            </NavLink>
        </div>
        <div class="nav-item nav-bar-item">
            <NavLink class="nav-link nav-button-style" href="Settings" style="border-radius: 0px;">
                <img src="Resources\AppIcon\libraryicon.svg" style="padding-right:0.75rem;" />
                Settings
            </NavLink>
        </div>
    </nav>
    </div>
</div>