<div style="height:180px;width:100%;background-color:#00000031;padding:1rem;display: flex;font-family: 'Inter-Bold';">
    <img style="background-color:aliceblue;width:100px;height:150px;border-radius:10px;min-height:150px;min-width:100px;"/>
    <div style="padding-left:2rem;width: 80%;">
    Batle Chain
        <div style="margin-top:2rem;display:flex;align-items: center;">
        <div class="progress" style="width:80%" >
            <div class="progress-value"></div>
        </div>
        <div style="padding-left:10px">
                <button style="background:url(../../Resources/AppIcon/pauseicon.svg) no-repeat;background-position: center center;width:15px;height:15px;border: 1.5px solid #2869FF;border-radius:3px">

            </button>
                <button style="background:url(../../Resources/AppIcon/stopicon.svg) no-repeat;background-position: center center;width:15px;height:15px;border: 1.5px solid #2869FF;border-radius:3px">
                </button>
        </div>
     </div>
        <div style="padding-top:0.5rem;display: flex;
    justify-content:space-between;width:80%">
            <div style=" display: flex;
    justify-content: flex-start;">
        Downloading...
            </div>
            <div style=" display: flex;
    justify-content: flex-end">
                40%
            </div>
         
    </div>
    </div>
 
</div>

@code {

}
